*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
.hero{ 
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8),
  rgba(0,0,0,0.4)),
  url(../links-and-images/images/fo4.jpg);
  background-size:cover;
  background-position: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.logo{
  color: rgba(213, 236, 109, 0.836);
  font-size: 28px;
}
  span{
   color: burlywood;
  }
nav ul li{
   list-style-type: none;
   display: inline-block;
   padding: 10px 10px;
}
nav ul li a{
  color: rgb(130, 165, 219);
  text-decoration: none;
  font-weight:bold;
}
nav ul li a:hover{
  color: brown;
  transition: 0.3s;
}
button{
  border: none;
  background: rgb(19, 8, 70);
  padding: 12px 30px;
  border-radius: 30px;
  color: rgb(241, 233, 233);
  font-weight: bold;
  font-size: 13px;
  transition: .4s;
}
button:hover{
  transform: scale(1.2);
  cursor: pointer;
}
main{
  padding: 0;
  font-weight: bold;
  text-decoration: none;
  color:rgb(108, 211, 87);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 10px;
}
main{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 5px;
  margin: 5px auto;
  max-width: 800px;
  box-shadow: 0 0 10px 4px #94c5e4;
  transition: all 0.8s ease;
  z-index:3;
}
main:hover{
  transform: scale(1.1);
}
footer {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  background-color: rgb(37, 33, 33);
  color: rgb(58, 235, 14);
}

footer p {
  margin: 0;
  border-radius: 1rem;
}
